.clock {
    color: blue;
}
.msg, .error {
    margin-left: 1em;
}
.error {
    color: red;
}
.completed {
    color: green;
}
#logs {
    margin-top: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75em;
    padding: 20px;
    margin: 20px;
}
#canvas {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
}
