<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
        <table matSort (matSortChange)="weatherDataTime($event)">
            <tr>
              <th mat-sort-header="time">Time</th>
            </tr>
            <tr *ngFor="let wdt of weatherDataTime">
              <td>{{wdt}}</td>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile>
        <table matSort (matSortChange)="weatherDataTempMax($event)">
            <tr>
              <th mat-sort-header="temp-max">TempMax</th>
            </tr>
            <tr *ngFor="let wdm of weatherDataTempMax">
              <td>{{wdm}}</td>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile>
        <table matSort (matSortChange)="weatherDataTempMin($event)">
            <tr>
              <th mat-sort-header="temp-min">TempMin</th>
            </tr>
            <tr *ngFor="let wdm of weatherDataTempMin">
              <td>{{wdm}}</td>
            </tr>
        </table>
    </mat-grid-tile>
</mat-grid-list>
